* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/bg-desktop.svg");
  background-color: #624e9a;
  background-repeat: no-repeat;
  background-size: cover;
}

#logo {
  display: block;
  margin: 20px;
}

.div1 {
  display: flex;
  flex-direction: row;
  padding: 30px;
}

.content1 {
  font-size: 20px;
  color: white;
  margin: 50px;
  font-family: sans-serif;
}

.span1 {
  font-weight: 300;
  font-size: 40px;
  display: block;
  margin-bottom: 25px;
}

button {
  background-color: #e980e7;
  border: none;
  color: white;
  padding: 15px 64px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 24px;
}
.transformation {
  background-color: white;
  color: #664cb1;
  border: 2px solid #664cb1;
}
.transformation:hover {
  background-color: #e980e7;
  color: white;
}
.shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

#fdiv {
  float: right;
  margin: 20px;
}

#fdiv > i {
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
  margin: 5px;
  width: 17px;
}

#fdiv > i:hover {
  cursor: pointer;
  color: #ee82ee;
  transition: 0.5s;
  border-color: #ee82ee;
}

@media (max-width: 1024px) {
  body {
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  #logo {
    margin: 10px;
  }

  .div1 {
    flex-direction: column;
    padding: 20px;
  }

  .content1 {
    margin: 30px;
    font-size: 18px;
    text-align: center;
  }

  .button {
    width: 150px;
    padding: 10px;
    margin: auto;
  }

  #fdiv {
    float: none;
    text-align: center;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  body {
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #logo {
    margin: 5px;
  }

  .div1 {
    padding: 10px;
  }

  .content1 {
    margin: 20px;
    font-size: 16px;
    text-align: center;
  }

  .button {
    width: 120px;
    padding: 8px;
    margin: auto;
  }

  #fdiv {
    float: none;
    text-align: center;
    margin: 5px;
  }
}
